<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Canela-Regular.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Canela-Regular-Trial.ttf</string>
		<string>ShareTech-Regular.ttf</string>
		<string>FontsFree-Net-Canela-Regular.ttf</string>
		<string>Canela-Bold.ttf</string>
	</array>
</dict>
</plist>
